body{
    margin: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
header {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
@media screen and (max-width: 480px) {
    header{
        display: table;
    }
}
header h1 {
    font-size: 30px;
    color: white;
    font-weight: normal;
    margin: 0;
    padding-left: 30px;
    line-height: 70px;
    float: left;
}
@media screen and (max-width: 480px){
    header h1{
        line-height: 60px;
        font-size: 25px;
        float: none;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}
header span{
    color:#ffd700 ;
}
header ul{
    margin: 0px;
}
@media screen and (max-width: 480px){
    header ul{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        text-align: center;
    }
}
header li{
    font-size: 18px;
    list-style: none;
    float: right;
    line-height: 70px;
}
@media screen and (max-width: 480px){
    header li{
        width: 50%;
        font-size: 14px;
        line-height: 30px;
    }
}
header li:hover{
    opacity: 0.8;
}
header a{
    color: white;
    display: block;
    padding: 0 15px;
    transition: .5s;
}
@media screen and (max-width: 480px){
    header a{
    padding: 10px 40px 10px 40px;
    border-top: 1px solid white;
    /* border-right: 1px solid white; */
    }
    header li:nth-child(2n+1) a{
        border-right: 1px solid white;
    }
}
header a:hover{
    opacity: 0.7;
}
.top-wrap{
    height: 100vh;
    width: 100%;
    background-image: url(../image/top-image.jpg);
    background-size: cover;
}
@media screen and (max-width: 480px) {
    /* 480px以下用（スマホ用）の記述 */
    .top-wrap{
        background-image: url(../image/main_smp@2x.png);
    }
}
.top-filter{
    height: 100%;
    background-color: rgba(0, 0, 0,0.3);
    position: relative;
}
.top-massage{
    color: white;
    padding-top: 300px;
    padding-left: 50px;
}
@media screen and (max-width: 480px){
    .top-massage{
        padding-top: 250px;
        padding-left: 20px;
    }
}
.top-massage h2{
    font-size: 65px;
    margin: 0;
}
@media screen and (max-width: 480px){
    .top-massage h2{
        line-height: 1;
        /* line-height: 98%; */
        font-size: 50px;
        width: 80%;
    }
}
.top-massage p{
    font-size: 25px;
    margin: 0;
}
@media screen and (max-width: 480px){
    .top-massage p{
        padding-top: 30px;
        font-size: 16px;
        width: 93%;
    }
}
.icons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.icons img{
    height: 30px;
    width: 30px;
    opacity: 0.7;
    padding: 0 10px;
    transition: .4s;
}
@media screen and (max-width: 480px){
    .icons img{
        padding: 0 5px;
        height: 25px;
        width: 25px;
        opacity: 1.0;
    }
}
.icons img:hover{
    opacity: 1.0;
    
}
.service-wrap > h3{
    font-size: 40px;
    padding: 80px 0 40px;
    text-align: center;
}
@media screen and (max-width: 480px){
    .service-wrap > h3{
        font-size: 30px;
        padding: 50px 10px 5px 10px;
        margin: 0;
    }
}

.service-container{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 480px){
    .service-container{
        display: block;
        padding-bottom: 20px;
    }
}

.service-box{
    width: 25%;
    margin: 0 15px;
    background-color: rgb(245,236,223);
    position: relative;
    
}
@media screen and (max-width: 480px){
    .service-box{
        width: 90%;
        margin: 20px 20px 30px 20px;
    }
}
.service-box span {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 3px;
    font-size: 12px;
    color: white;
    background-color: rgb(206,176,9);
    padding: 5px;
}
.service-box img:hover{
    opacity: 0.7;
}
.service-box img{
    width: 100%;
    transition: .5s;
}
.service-wrap h4,p{
    width: 80%;
    margin: 0 auto;
    color: black;
}
@media screen and (max-width: 480px){
    .service-box h4, p{
        width: 90%;
    }
}
.service-box h4{
    padding-top: 20px;
    padding-bottom: 10px;
}
@media screen and (max-width: 480px){
    .service-box h4{
        font-size: 18px;
    }
}
.service-box p{
    padding-bottom: 20px;
    font-size: 13px;
}
@media screen and (max-width: 480px){
    .service-box p{
        font-size: 14px;
    }
}

.contact-wrap{
    height: 300px;
    background-color: #c4af9b;
    text-align: center;
    margin: 80px;
}
@media screen and (max-width: 480px){
    .contact-wrap{
        height: 60px;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.contact-wrap a{
    font-size: 20px;
    border: 1px solid white;
    color: white;
    line-height: 300px;
    padding: 20px 50px;
    transition: .5s;
}
@media screen and (max-width: 480px){
    .contact-wrap a{
        line-height: 60px;
        padding: 20px 90px;
    }
}
.contact-wrap a:hover{
    color: #c4af9b;
    background-color: white;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 5vw;
}
@media screen and (max-width: 480px){
    .footer-top{
        flex-wrap: wrap;
        align-items: stretch;
        margin: 50px 0 0 0;
        padding: 0;
    }
}
.footer-box{
    width: 100vw;
}
@media screen and (max-width: 480px){
    .footer-box{
    height: 110px;
    width: 50vw;
    }
}
.footer-box a{
    display: block;
    /* width: 20%; */
    color: black;
    transition: .3s;
}
@media screen and (max-width: 480px){
    .footer-box a{
        box-sizing: border-box;
        padding-left: 20px;
        width: 100%;
        font-size: 14px;
    }
}
.footer-box a:hover{
    opacity: 0.5;
}
.footer-box-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
@media screen and (max-width: 480px){
    .footer-box h2{
        padding-left: 20px;
        font-size: 16px;
    }
}
footer p{
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}
@media screen and (max-width: 480px){
    footer p{
        font-size: 9px;
        padding-top:0;
    }
}